<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Account Activated</title>
<style type="text/css">
  .logout-text{
    text-align: center;
  }
  .email-temp{
    padding: 0;
}
.email-temp h1{
    color: #0092d7;
    font-weight: 600;
    font-size: 27px;
    font-family: Open Sans;
    line-height: 36px;
    margin-top: 2%;
    
}
.email-temp img{
   max-width: 160px;
   margin-top: 4%;
 
}
.email-temp p{
    margin: 3% auto;
    font-size: 14px;
    font-family: Open Sans;
    clear: both;
    color: #696969;
    text-align: justify;
}
.email-temp p a{
    color: #0092d7;
}
.footer-section p:first-child{
    margin: 2% auto;
  
}
.footer-section p:nth-child(2){
    margin: 5px auto;
  
}
.footer-section p:nth-child(3){
    margin: 5px auto;
  
}
.footer-section p:nth-child(4){
    margin: 5px auto;
  
}
.footer-section p:nth-child(5){
    margin: 5px auto;
  
}
.footer-section p:nth-child(5) a{
    color: #696969;
  }
.email-temp ul li{
    margin: 3% auto;
    font-size: 14px;
    font-family: Open Sans;
    clear: both;
    color: #696969;
    text-align: justify;
}
.email-content{
    background: #f1f1f1;
    padding-top: 1%;
}
.email-content h4{
    color: #0092d7;
    font-family: Open Sans;
    font-weight: 600;
    margin: auto;
    margin: 0px auto;
    width: 100%;
    padding-bottom: 3%;
    font-size: 14px;
}
.email-content div{
    margin: 0px auto;
    width: 555px;
}
.headline-p{
    margin: 0px auto;
    width: 80%;
    text-align: center !important;
    font-size: 16px !important;
}
.text-algn-cntr{
    text-align: center !important;
}
.footer-section p{
    font-size: 12px !important;
    text-align: center !important;

}
.margin-5{
    margin: 5px auto !important;
}
  @media only screen and (max-width: 380px) and (min-width: 320px){
.email-temp h1{
    font-size: 23px;
    padding: 10px;
}
.email-temp p{
    width: 85%;
    margin: 8% auto;
}
.email-temp ul li{
    width: 85%;
    margin: 8% auto;
}
.email-content h4{
    width: 85%;
    padding: 5% 0;
}
.email-content div{
    width: 100%;
}
.headline-p{
    text-align: center !important;
    margin: 3% auto !important;
    width: 95%  !important;
    }
    .email-temp p br{
        display: none;
    }
    .captcha-align{
        width: auto;
    }
    .email-temp img{
        max-width: 140px;
    }
    .email-temp {
        padding: 0;
        border-top: 2px solid #0092d7;
    border-left: 2px solid #0092d7;
        margin: 15px;
        padding-top: 10%;
    }
  }
  @media only screen and (max-width: 560px) and (min-width: 381px){
.email-temp h1{
    font-size: 23px;
    padding: 10px;
}
.email-temp p{
    width: 85%;
    margin: 8% auto;
}
.email-temp ul li{
    width: 85%;
    margin: 8% auto;
}
.email-content h4{
    width: 85%;
    padding: 5% 0;
}
.email-content div{
    width: 100%;
}
.headline-p{
    width: 95% !important;
    text-align: center !important;
    margin: 3% auto !important;
}
.email-temp p br{
    display: none;
}
.captcha-align{
    width: auto;
}
.email-temp img{
    max-width: 140px;
}
.email-temp {
    padding: 0;
    border-top: 2px solid #0092d7;
    border-left: 2px solid #0092d7;
    margin: 15px;
    padding-top: 8%;
}
  }
   @media only screen and (max-width: 767px) and (min-width: 561px){
    .email-temp h1{
    font-size: 23px;
    padding: 10px;
}
.email-temp p{
    width: 85%;
    margin: 8% auto;
}
.email-temp ul li{
    width: 85%;
    margin: 8% auto;
}
.email-content h4{
    width: 85%;
    padding: 5% 0;
}
.headline-p{
    width: 95% !important;
    text-align: center !important;
    margin: 3% auto !important;
}
.email-content div{
    width: 550px;
}
.email-temp p br{
    display: none;
}
.captcha-align{
    width: auto;
}
.email-temp img{
    max-width: 140px;
}
.email-temp {
    padding: 0;
    border-top: 2px solid #0092d7;
    border-left: 2px solid #0092d7;
    margin: 15px;
    padding-top: 4%;
}
   }
   @media only screen and (max-width: 1023px) and (min-width: 768px){
 .email-temp p{
        width: 85%;
    }
    .email-temp ul li{
    width: 85%;
    margin: 8% auto;
}
    .email-temp h1{
        font-size: 23px;
        padding: 10px;
    }
    .email-content h4{
        width: 85%;
        padding: 5% 0;
    }
    .headline-p{
        width: 95% !important;
        text-align: center !important;
        margin: 3% auto !important;
    }
    .email-content div{
        width: 650px;
    }
    .email-temp p br{
        display: none;
    }
    .captcha-align{
        width: auto;
    }
    .email-temp {
        padding: 0;
        border-top: 2px solid #0092d7;
    border-left: 2px solid #0092d7;
        margin: 15px;
        padding-top: 4%;
    }
   }
   @media only screen and (max-width: 1200px) and (min-width: 1024px){
        .email-temp {
        padding: 0;
        border-top: 2px solid #0092d7;
    border-left: 2px solid #0092d7;
        margin: 15px;
        padding-top: 4%;
    }
   }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


</style>
</head>
<body>
<div class="container-fluid email-temp">
  <div class="logout-text">
    <img src="${logoUrl}" alt="PROCUREHERE" width="140" class="img-reponsive text-center"> 
    </div>
    <p></p>
    <div class="email-content">
      <div>
        <p>Hi ${userName},</p>
        <p>Thank you very much for signing up with us. It's time to explore a world of e-procurement opportunity.</p>
        <p>To access your account and take advantages of the many available features, login at <a href="${appUrl}">${appUrl}</a></p>
        <p>Your new user information:</p>
         <p class="margin-5">Username: ${loginId}</p>
         <p class="margin-5">Password : (Unique Personal Password) </p>
         <p>Feel free to engage our Product Specialists via CHAT and Support (<a href="mailto:support@procurehere.com">support@procurehere.com</a>). Our support team is available 24/7 and will be more than happy to assist you. You can also find valuable insight and resources on our<a href="${blogUrl}"> blog</a></p>
        <p>Thank you again for choosing Procurehere.</p>
        <h4>GROUP PROCUREMENT DEPT</h4>
    </div>
  </div><hr style="border-top: 1px solid #f1f1f1; margin-top: 3%">
  <div class="footer-section">
  <p><em>Copyright &copy; ${.now?string('yyyy')} Privasia Berhad, All right reserved.</em></p>
  </div>
</div>
</body>
</html>