<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Email</title>

<style>
.email_bttn{width:100%; float:left; border:1px solid #0095d5; text-align:center; font-size:16px; color:#0095d5; text-decoration:none; padding:15px 0}
.email_bttn:hover {background:#0095d5; color:#fff;}
.footer{ text-align:center; color:#fff; font-size:12px; line-height:15px; padding:13px 0}
.help{ text-align:center; color:#595959; font-size:12px; line-height:15px; padding:8px 0; border-bottom:5px solid #fff;}
.help a {color:#0095d5; text-decoration:none}
.help a:hover {color:#ffa019; text-decoration:none}

</style>

</head>

<body style="font-family:Verdana, Geneva, sans-serif;">
<table width="600" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #a1d0e4;">
  <tr>
    <td style="background:#0095d5;"><table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin:0 2%">
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="font-size:13px; color:#fff; padding:10px 0"><b>PROCUREHERE</b><!-- <a href="#" style="color:#fff; text-decoration:none;">View in Browser</a> --> </td>
             <td style="font-size:13px; color:#fff; padding:10px 0; text-align:right">${date}</td>
          </tr>
        </table></td>
      </tr>
     
    </table></td>
  </tr>
 	
	
	<tr>
    		<td style="text-align:left; font-size:18px;  padding:50px 50px 15px 10px; ">Hi <b>SMALL MEDIUM ENTERPRISE DEVELOPMENT BANK MALAYSIA BERHAD</b></td>
  	</tr>
	<tr><td style="text-align:left; font-size:14px;  padding:15px 10px; ">Welcome to procurehere  </td></tr>
	<tr><td style="text-align:left; font-size:14px;  padding:15px 10px 50px 10px;">
		You have received a new supplier request<br/>
	<b>Supplier Name</b> : {fullName}<br/>
	<b>Country</b> : {country}<br/>
	<b>Requested Date</b> : {requestDate}<br/>	
	</td></tr>
  <tr>
    <td><table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin:0 2%">
      
      <tr>
	  <td width="20%">&nbsp;</td>
        <td style="padding:0 0 30px 0"><a href="${app_url}" class="email_bttn">CLICK HERE TO TAKE ACTION </a></td>
		<td width="20%">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
	<tr>
		<td style="text-align:left; font-size:14px;  padding:15px 10px 25px 10px; ">If the button appears to be broken, please copy and pasted this link into a web browser window:  <a style="text-decoration:none;" href="http://ep2.smebank.com.my/login">http://ep2.smebank.com.my/login</a></td>
        </tr>
	<tr><td style="text-align:left; font-size:14px;  padding:15px 10px 15px 10px;">Thank You,</td></tr>
	<tr><td style="text-align:left; font-size:14px;  padding:15px 10px 25px 10px;">Procurehere Team</td></tr>
  <tr>
        <td style="text-align:left; font-size:12px; line-height:15px; padding:13px 10px; background:#ededed; color:#303030;">If you need assistance or have questions, please contact Procurehere Customer Service or you can manage your account at <a style="text-decoration:none;" href="http://ep2.smebank.com.my/login">http://ep2.smebank.com.my/login</a></td>
      
  </tr>
  <tr>
    <td style="background:#0095d5"><table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin:0 2%">
      <tr>
        <td class="footer">&copy; 2018 Privasia Sdn Bhd.</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>