html, body {
	height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.login_content_area {
	color: #fff;
	padding: 49px 3% 49px;
}

.login_logo {
	padding-bottom: 6%;
}
.search_mob_disply.active:after {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    content: '';
    left: 10px;
    border-radius: 5px;
}
.loging_quote h2 {
	font-size: 30px;
	margin-bottom: 15px;
	color: #fff;
	font-family: 'open_sanslight';
}

.loging_quote h4 {
	font-family: 'open_sanslight';
}

.loging_quote h4 {
	font-size: 21px;
	font-weight: 300;
	margin-bottom: 30px;
	color: #fff;
}

.dot_list_login {
	padding-left: 40px;
	list-style: none outside none;
}

.dot_list_login li {
	position: relative;
	z-index: 1;
	margin-top: 18px;
}

.dot_list_login li:first-child {
	margin-top: 0;
}

.dot_list {
	position: absolute;
	left: -40px;
	top: 0;
	background: url(../../../images/1476882039_camera_test.png);
	background-repeat: no-repeat;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 3px;
}

.dot_list span {
	display: block;
	height: 100%;
	background-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.dot_list_login h4 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
	color: #fff;
	font-family: 'open_sanssemibold';
}

.dot_list_login .subtext {
	font-size: 14px;
	font-weight: 400;
	font-family: 'open_sansregular';
}

#login-form {
	border-color: #8992a1;
	background: rgba(255, 255, 255, 0.3) no-repeat scroll 0 0;
	text-transform: uppercase;
}

#login-form .button-panel {
	background: none;
	border: 0;
	color: #fff;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

#login-form .form-control {
	height: 52px;
	color: #6c6c6c;
	font-size: 14px;
	text-transform: uppercase;
	border-color: # -webkit-border-radius : 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #8f97a6;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#login-form .form-control:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#forget-form .btn, #login-form .btn {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	height: 52px;
	line-height: 52px;
	font-family: 'open_sansregular';
}

#login-forgot {
	border-color: #8992a1;
	background: rgba(255, 255, 255, 0.3) no-repeat scroll 0 0;
	text-transform: uppercase;
}

#login-forgot .button-panel {
	background: none;
	border: 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#login-forgot .form-control {
	height: 52px;
	color: #6c6c6c;
	font-size: 14px;
	text-transform: uppercase;
	border-color: # -webkit-border-radius : 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #8f97a6;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#login-forgot .form-control:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#login-forgot .btn {
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	height: 52;
	line-height: 52px;
}

.or_text {
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	padding: 15px 0;
	font-family: 'open_sanslight';
}

.forgot_txt_row label, .forgot_txt_row a {
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	font-family: 'open_sansregular';
}

.sign_text {
	font-weight: bold;
	font-size: 25px;
}

.sign_text a {
	color: #fff;
	font-family: 'open_sansbold';
	font-weight: 500;
}

.sign_text a:hover {
	color: #fff;
	text-decoration: none;
}

.btn-blue {
	background-color: #0095d5;
	border-color: #0095d5;
	color: #fff;
}

.btn-blue:hover, .btn-blue:focus {
	color: #fff;
}

.bg-gradient-9 {
	background: #0095d5 !important;
}

#header-logo .logo-content-big, .logo-content-small {
	background: url('../../image-resources/image-procurehere/logo-2.png')
		left 50% no-repeat;
	height: 34px;
}

.user-account-btn img {
	border-radius: 0;
}

.email-account-btn {
	color: #fff;
	margin: 28px 0 0 10px;
	float: left;
}

.email-account-btn>a {
	color: #fff;
	font-weight: 400;
}

.email-account-btn>a:hover {
	color: #fff;
	text-decoration: none;
}

.email-account-btn img {
	margin-right: 5px;
	vertical-align: sub;
}

.hide_elm {
	display: none !important;
}

.registration_step_pages #page-header {
	position: relative;
	z-index: 4;
}

.equal_2w_col {
	float: left;
	width: 100%;
	background-color: #ebebeb;
	overflow: hidden;
}

.col_50 {
	height: 100%;
	display: block;
	width: 50%;
	float: left;
}

.signupCol50 {
	height: auto;
}

.signupCol2wCol {
	background-color: #6f6f6f;
}

.gray_bg_block {
	background-color: #6f6f6f;
	top: 0;
	position: absolute;
	height: 100%;
	width: 50%;
	z-index: 2;
	display: none;
}

.signupCol50:last-child {
	background-color: #ebebeb;
}

.lightgray_bg_block {
	background-color: #ebebeb;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	display: none;
}

.registration_step_pages .col_50 {
	float: left;
	width: 100%;
}

.equal_2w_col .col_50.first_blc {
	background-color: #6f6f6f;
}

.equal_2w_col .col_50:last {
	background-color: #6f6f6f;
}

.testimonial-box-big {
	text-align: center;
}

.testimonial-box-big .testimonial-content .glyph-icon {
	font-size: 40px;
}

.testimonial-box-big .testimonial-content .icon-quote-left {
	left: -30px;
	top: 0;
}

.testimonial-box-big .testimonial-content .icon-quote-right {
	bottom: 0;
	right: -30px;
}

.testimonial-box-big .testimonial-author-wrapper {
	display: inline-block;
	padding-top: 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
}

.testimonial-box-big .testimonial-author-wrapper .testimonial-author span
	{
	padding: 5px 0 0px;
	display: block;
}

.testimonial-box-big .testimonial-author-wrapper img {
	display: none;
}

.testimonial-box-big .testimonial-content {
	margin: 0 30px 18px;
	position: relative;
}

.testimonial-box-big .testimonial-content p {
	font-size: 24px;
	padding: 0 20px;
	font-weight: 300;
	line-height: normal;
}

.slider-wrapper .testimonial-box-big {
	margin-bottom: 35px;
}

.testimonial-content {
	padding: 15px 20px 18px;
	position: relative;
	background:
		url('../../image-resources/image-procurehere/testimial-border.png')
		center 100% no-repeat;
}

.testimonial-content .testimonial-arrow {
	border-bottom-color: transparent !important;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-style: solid;
	border-top: 34px solid #e9e9e9;
	border-width: 34px 34px 0 0;
	bottom: -34px;
	content: "";
	display: block;
	opacity: 0.8;
	position: absolute;
	right: 0;
	text-indent: 0;
}

.testimonial-content .testimonial-arrow.arrow-rounded {
	opacity: 1;
	right: 15px;
}

.reg_testimonial_wrapper {
	padding-top: 20%;
	color: #fff;
}

.reg_testimonial_wrapper .bx-wrapper {
	/* height: 340px; */
	
}

.reg_testimonial_wrapper .bx-wrapper .bx-viewport {
	box-shadow: none;
	border: 0;
	background: none;
}

.reg_testimonial_wrapper .bx-controls-direction .bx-prev {
	background:
		url('../../image-resources/image-procurehere/test-arrow-left.png')
		left 50% no-repeat;
	width: 22px;
	height: 48px;
}

.reg_testimonial_wrapper .bx-controls-direction .bx-next {
	background:
		url('../../image-resources/image-procurehere/test-arrow-right.png')
		left 50% no-repeat;
	width: 22px;
	height: 48px;
}

.reg_testimonial_wrapper .bx-controls-direction .bx-prev:hover {
	background-position: left 50%;
}

.reg_testimonial_wrapper .bx-controls-direction .bx-next:hover {
	background-position: left 50%;
}

.carousel-control.left, .carousel-control.right {
	background: none;
}

.supplyer_reg_form {
	padding: 25px;
}

.supplyer_reg_form .form_header {
	height: 151px;
}

.form_header h1 {
	font-size: 36px;
	font-weight: normal;
	color: #7f7f7f;
	margin-top: 50px;
}

.supplyer_reg_form .form_block {
	float: left;
	width: 50%;
}

.supplyer_reg_form .form_block.blc_left {
	padding-right: 3%;
	position: relative;
	z-index: 1;
}

.supplyer_reg_form .blc_left::after {
	content: '';
	background-color: #d0d0d0;
	width: 1px;
	height: 88%;
	right: 0;
	top: 27px;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

.supplyer_reg_form .form_block.blc_right {
	padding-left: 3%;
}

.supplyer_reg_form .btn-block {
	height: 57px;
	line-height: 57px;
	font-weight: 400;
	font-size: 20px;
}

.supplyer_reg_form .form-control {
	border-color: #e9e9e9;
	font-size: 12px;
	color: #7a7a7a;
}

.supplyer_reg_form input.form-control {
	height: 37px;
}

.supplyer_reg_form .bot_textarea {
	padding-top: 20px;
	clear: both;
}

.input_percent {
	float: left;
	width: 100%;
}

.inp3 {
	width: 20%;
	display: inline;
	float: left;
}

.inp4 {
	width: 25%;
	display: inline;
	float: left;
}

.inp8 {
	width: 70%;
	display: inline;
	float: left;
}

.inp9 {
	width: 76%;
	display: inline;
	float: left;
}

.mrg_10 {
	margin-right: 10px;
}

.clear {
	clear: both;
	height: 0;
}

.two_input10by2 {
	float: left;
	width: 100%;
}

.mrg_r_perc2 {
	margin-right: 2%;
}

.cus_col_10 {
	width: 78%;
	float: left;
}

.cus_col_2 {
	width: 20%;
	float: left;
}

.top_search .chosen-container {
	background-color: #fff;
}

.top_search>.form-control {
	border-color: #fff;
}

.top_search>.form-control, .top_search .btn {
	height: 39px;
}

.top_search .btn {
	background-color: #dfe0e3;
	min-width: inherit;
	width: 33px;
	padding-left: 10px;
	padding-right: 5px;
}

.top_search .btn-caret {
	padding-left: 5px;
	padding-right: 10px;
	width: 24px;
}

.mobile_search_block {
	padding: 30px 20px;
	position: absolute;
	width: 100%;
	background: #0095d5;
	z-index: 2000;
	display: none;
}

.mobile_search_block .top_search {
	max-width: 340px;
	margin: 0 auto;
}

.mobile_search_block .close {
	color: #fff;
	opacity: 1;
	font-size: 35px;
}

.caret {
	color: #a4a4a4;
}

.mrg_none {
	margin: 0 !Important;
}

.search_web_disply {
	float: left;
	min-width: 345px;
	display: none;
}

.search_web_disply .form-control {
	border-color: #fff;
}

.search_web_disply .dropdown>.dropdown-menu::after {
	left: auto;
	right: 8px;
}

#header-nav-right {
	margin-top: 18px;
}

#header-nav-right .header-btn, #header-nav-right .dropdown>a {
	height: 39px;
	width: 39px;
	line-height: 34px;
}

#header-nav-right .header-btn, #header-nav-right>.dropdown {
	margin-left: 7px;
}

#header-nav-right .dropdown-menu {
	border: 0;
}

.form_header span.error {
	color: #ff0000;
	display: inline-block;
	margin: 20px 0 10px;
	font-weight: 400;
	font-size: 14px;
}

.video_header {
	margin: 75px 0;
	color: #7f7f7f;
	font-size: 25px;
	font-family: 'open_sanssemibold';
}

.video_caption {
	color: #7f7f7f;
	font-size: 18px;
	margin: 0 0 20px 0;
	font-weight: 400;
}

.admin_wizard_step {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 48px;
}

.adm_wzard_title {
	font-size: 21px;
	color: #999999;
	margin: 0 0 30px 0;
}

.form-wizard>ul>li a .wizard-step {
	height: 51px;
	line-height: 51px;
	margin-bottom: 15px;
	width: 51px;
	background-color: #d2d2d2;
}

.inner_circle {
	border: 2px solid #ebebeb;
	background-color: #848484;
	display: inline-block;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	height: 80%;
	width: 80%;
	vertical-align: middle;
	line-height: 1.8em;
	font-size: 24px;
	font-weight: bold;
}

.form-wizard .inner_circle {
	font-weight: bold;
	line-height: 35px;
	position: relative;
	top: -1px;
}

.inner_circle img {
	margin-right: 0;
	width: 20px;
}

.form-wizard>ul>li a::before {
	top: 30px;
	background-color: #d2d2d2;
}

.form-wizard>ul>li.active .wizard-step, .form-wizard>ul>li.completed .wizard-step
	{
	background: #d2d2d2 !important;
}

.form-wizard li .inner_circle .step_checkmark {
	display: none;
	width: 20px;
}

.form-wizard li.active .wizard-step .inner_circle, .form-wizard li.activeprev .wizard-step .inner_circle,
	.form-wizard li.completed .wizard-step .inner_circle {
	background-color: #0095d5;
}

.form-wizard li.active .step_num, .form-wizard li.activeprev .step_num,
	.form-wizard li.completed .step_num, .form-wizard li.current .step_num
	{
	display: none;
}

.form-wizard li.active .inner_circle .step_checkmark, .form-wizard li.activeprev .inner_circle .step_checkmark,
	.form-wizard li.completed .inner_circle .step_checkmark, .form-wizard li.current .inner_circle .step_checkmark
	{
	display: inherit;
}

.admin_wizard_step .content-box-header {
	background-color: #474747;
	color: #fff;
	font-size: 20px;
	text-transform: inherit;
}

.admin_wizard_step .content-box-header small {
	font-size: 13px;
	font-weight: 400px;
	display: block;
	margin-top: 10px;
	color: #fff;
}

.admin_wizard_step .content-box {
	border-color: #ebebeb;
}

.blue_form_sbtitle {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #0095d5;
}

.admin_wizard_step label {
	color: #636363;
}

.admin_wizard_step .form-control {
	border-color: #eaf0f6;
	color: #7a7a7a;
	font-weight: 400;
}

.admin_wizard_step input.form-control {
	height: 36px;
}
/*.chosen-container-single .chosen-single div,
.selector i{ background: url('../../image-resources/image-procurehere/cus-slt_caret.png') center 50% no-repeat #dbdbdb!important; 
    color: #818181!important; text-indent: -9999px; }*/
div.selector select {
	cursor: pointer;
}

.p_t20 {
	padding-top: 20px;
}

.sub_txt_step2 {
	font-weight: 400;
	margin-bottom: 15px;
}

.search_box_gray .form-control {
	border-color: #dfe0e3;
	color: #a3a3a3;
}

.search_box_gray .btn-gray {
	background:
		url('../../image-resources/image-procurehere/gray-search-icon.png')
		center 50% no-repeat #dfe0e3 !important;
}

#step-2 .search_box_gray .btn-gray {
	height: 36px;
}

#step-6 .search_box_gray .btn-gray {
	height: 36px;
}

.chk_scroll_box {
	margin: 20px 0 15px 0;
	background-color: #f6f8f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 17px 17px 17px 7px;
}

.scroll_box_inner {
	height: 300px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.tree-multiselect .collapse-section {
	font-size: 18px;
	height: 20px;
	margin-right: 5px !important
}

.chk_scroll_box .tree-multiselect {
	padding: 0;
	margin: 0;
	overflow-y: auto;
}

.chk_scroll_box ul {
	list-style: none outside none;
}

ul.chk_list {
	padding-left: 0;
}

.secondry_chk {
	padding-left: 20px;
}

.secondry_chk .checkbox label {
	font-weight: 400;
}

.step_button_pan .btn:first-child {
	margin-right: 3%;
}

.step_button_pan .btn {
	font-size: 16px;
	font-weight: normal;
}

.panel_checkbox {
	background-color: #f6f8f9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	min-height: 283px;
	border-radius: 4px;
	padding: 17px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: 0;
}

.panel_checkbox>h3 {
	font-size: 16px;
	font-weight: normal;
	color: #636363;
	margin-bottom: 10px;
}

.panel_checkbox .list-group {
	background: none;
}

.panel_checkbox .list-group li {
	border: 0;
}

.panel_checkbox .list-group-item {
	padding-left: 0;
	padding-right: 0;
	background: none;
	font-weight: 400;
}

.panel_checkbox .list-group-item .badge {
	background:
		url('../../image-resources/image-procurehere/black-xross.png') center
		50% no-repeat transparent;
	cursor: pointer;
	text-indent: -99999px;
}

.step_3_content p {
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 400;
}

.step_3_content .checkbox label {
	padding-left: 0;
	font-weight: 400;
}

.step_3_content .step_button_pan {
	padding-top: 10px;
}

.tip_wizard {
	padding-left: 40px;
	font-size: 15px;
	font-weight: 400;
	background: url('../../image-resources/image-procurehere/tip-icon.png')
		0 50% no-repeat transparent;
	color: #00b0a8;
	margin-bottom: 20px;
}

.step4_form .blue_form_sbtitle {
	font-size: 15px;
	font-weight: normal;
}

.step4_form {
	max-width: 450px;
	padding-right: 120px;
}

#step-4 .step4_form {
	max-width: 367px;
	padding-right: 0;
}

.step4_table {
	margin-top: 155px;
}

.step4_table .badge {
	background: transparent
		url("../../image-resources/image-procurehere/black-xross.png")
		no-repeat scroll center 50%;
	cursor: pointer;
	text-indent: -99999px;
}

.step4_table .last_step_table {
	height: 165px;
}

.btn-black {
	background-color: #757575 !important;
	border-color: #757575 !important;
	font-weight: 300;
	color: #fff !important;
}

.btn-black:active, .btn-black:focus, .btn-black:hover {
	color: #fff;
	background: #464646 none repeat scroll 0 0 !important;
	border-color: #464646 !important;
}

.add_file_row {
	position: relative;
	z-index: 1;
}

.add_file_row .plus_btn_wrap {
	position: absolute;
	right: -100px;
	top: 0;
	text-align: center;
	width: 100px;
}

.btn-tooltip img {
	margin: 0;
}

.other_attachemts .btn-gray {
	background-color: #bbbbbb;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
}

.three_btn_group .btn {
	height: 43px;
	font-weight: normal;
	width: 31.1%;
}

.three_btn_group .btn-black {
	margin: 0 2%;
}

.last_step_left_block>p {
	margin-bottom: 10px;
}

.last_step_right_block .search_box_gray .btn-gray {
	height: 36px;
	width: 36px;
}

.last_step_right_block .search_box_gray, .last_step_right_block .btn {
	margin-bottom: 8px;
}

.last_step_table {
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
}

.last_step_table .table {
	margin-bottom: 0;
}

.last_step_table .table>thead>tr>th, .last_step_table .table>tbody>tr>th,
	.table>tfoot>tr>th {
	background-color: #eef1f4;
	font-weight: 400;
	color: #767676;
	font-size: 13px;
	padding: 7px;
}

.last_step_table .table>tbody>tr>td {
	padding: 11px 7px;
}

.top_search .form-control {
	background:
		url('../../image-resources/image-procurehere/gray-search-icon.png')
		10px 50% no-repeat #fff;
}

#header-nav-right .top_search .form-control:focus {
	border-color: #dfe8f1;
	background-image: none;
	transition: 1s;
}

.Header_overlay {
	width: 100%;
	background:
		url('../../image-resources/image-procurehere/header-overlay.png') 0px
		0 repeat-x;
	height: 75px;
	z-index: 3;
	position: absolute;
	top: 0;
	left: 260px;
	width: auto;
	right: 0;
}

.search_web_disply {
	z-index: 1;
}

.creat_btn {
	float: left;
	line-height: 30px;
}

#header-nav-right .creat_btn.dropdown {
	margin: 0px 35px 0 10px;
}

#header-nav-right .creat_btn>a {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	border: 0;
	width: inherit;
}

.creat_btn .round_circle {
	background-color: #3dafdf;
	border: 2px solid #6cc2e6;
	text-align: center;
	margin-right: 10px;
	width: 38px;
	height: 38px;
	display: inline-block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	line-height: 32px;
}

#header-nav-right .creat_btn.dropdown>a .glyph-icon {
	font-size: 16px;
	vertical-align: middle;
}

.creat_btn a:hover .round_circle {
	background: #fff;
}

#header-nav-right .creat_btn>a:hover .round_circle .glyph-icon {
	color: #0095d5;
	border-color: #0095d5;
}

#header-nav-right .creat_btn>a:hover {
	color: #fff;
	text-decoration: none;
	background: none !important;
}

.creat_btn .dropdown-menu li:first-child {
	border-top: 0;
}

.creat_btn .dropdown-menu li {
	border-top: 1px solid #dfe8f1;
}

.creat_btn .dropdown-menu>li>a {
	padding: 7px 10px;
}

#progress-btn .dropdown-menu {
	max-width: 180px;
}

#progress-btn .dropdown-menu ul {
	margin: 0;
	padding: 0;
	list-style: none outside none;
}

#progress-btn .dropdown-menu li:first-child {
	border-top: 0;
}

#progress-btn .dropdown-menu li {
	border-top: 1px solid #dfe8f1;
}

#progress-btn .dropdown-menu li>a {
	padding: 7px 10px;
	clear: both;
	display: block;
	color: #333;
}

.last_step_right_block .slimScrollDiv {
	height: 160px !Important;
}

.last_step_table .table a {
	color: #4689cb;
}

.last_step_table {
	height: 160px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.fileinput-new {
	cursor: pointer;
}
/* Mobile navigation */
#nav-toggle {
	cursor: pointer;
	background: none;
	border: 0;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 2px;
	height: 5px;
	width: 35px;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle.collapsed span:before {
	top: -10px;
	transform: rotate(0deg);
}

#nav-toggle.collapsed span:after {
	bottom: -10px;
	transform: rotate(0deg);
}

#nav-toggle span:before, #nav-toggle span:after {
	transition: all 500ms ease-in-out;
}

#nav-toggle span {
	background: transparent;
}

#nav-toggle span:before, #nav-toggle span:after {
	
}

#nav-toggle span:before {
	transform: rotate(45deg);
}

#nav-toggle span:after {
	transform: rotate(-45deg);
}
/*===   index page ===*/
.user_box {
	padding: 20px 10px;
	text-align: center;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #ececec;
}

.user_edit_icon {
	position: absolute;
	top: 7px;
	right: 15px;
	font-size: 20px;
	color: #2486fb;
}

.user_box .user-pic {
	height: 60px;
	width: 60px;
	margin-bottom: 10px;
	margin: 0 auto 10px;
}

.user_box .user-pic img {
	max-width: 100%;
	border-radius: 50%;
}

.ip_detail_box {
	text-align: left;
	font-size: 12px;
	color: #626262;
	border-top: 1px solid #ececec;
	padding: 10px 0 0 10px;
}

.ip_detail_box span {
	display: block;
	padding: 5px 0;
}

.ip_detail_box span:last-child {
	padding-bottom: 0;
}

.user_mail, .user_designation, .user_Name {
	margin: 5px 0px;
	font-family: 'open_sansregular', "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	color: #626262;
	font-weight: 400;
	font-size: 12px;
}

.user_designation {
	display: block;
}

.page-title {
	line-height: 47px;
	margin-bottom: 10px;
	color: #6b6b6b;
	clear: both;
	width: 100%;
	float: left;
	margin: 20px 0;
}

.title_txt {
	font-size: 25px;
	font-weight: bold;
}

.title-info_massage {
	padding: 12px 15px;
	border: 1px solid;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

.info_default {
	border-color: #e1eebf;
	color: #0095d5;
	background-color: #f5fee0;
}

.info_default .fa {
	font-size: 20px;
	margin-right: 10px;
	color: #b7c88c;
}

.Section-title {
	margin-bottom: 10px;
	padding: 6px 15px;
	border: 1px solid #e8e8e8;
	float: left;
	width: 100%;
	clear: both;
}

.Section-title>h2 {
	font-size: 16px;
	line-height: 36px;
	color: #6b6b6b;
	margin: 0;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
}

.Section-title>h2>i {
	margin-right: 10px;
}

.search_filter_home {
	float: right;
	font-size: 13px;
	color: #7b7b7b;
	border-radius: 2px;
	background-color: #f7f3f3;
	padding: 0px;
	display: inline-block;
	height: 38px;
	line-height: 38px;
}

.search_filter_home .btn {
	color: #7b7b7b;
	border-radius: 2px;
	background: #f7f3f3;
	border: 0;
}

.search_filter_home .fa {
	margin-left: 10px;
}

.badge, .bs-badge {
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 19px;
	min-width: 20px;
	padding: 0 4px 0 5px;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}

#sidebar-menu li.sfHover {
	background-color: #f7f7f7;
}

#page-sidebar li ul li a::before {
	content: "\f0da";
	font-size: 14px;
}

.sidebar_event_list a {
	font-size: 11px;
}

.event_box {
	background-color: #f4f7f9;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	border-radius: 2px;
}

.box_overlay {
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 2px;
	display: block;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

.box_overlay .btn {
	color: #fff;
	text-transform: uppercase;
	height: 38px;
	line-height: 38px;
	border-radius: 2px;
	position: absolute;
	margin-left: -75px;
	margin-top: -19px;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 150px;
	font-weight: normal;
}

.event_box:hover .box_overlay {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

.event_box .event_box_head {
	background-color: #7f7f7f;
	color: #fff;
	text-transform: uppercase;
	height: 49px;
	padding: 0 15px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px
}

.event_box .event_box_head h4 {
	font-family: 'open_sansbold';
	font-size: 14px;
	line-height: 49px;
	color: #fff;
}

.event_box .box-boder {
	border: 1px solid #eeeff0;
}

.event_box .box_content {
	padding: 9px 13px 12px;
	overflow: hidden;
}

.event_box .box_content h4 {
	font-size: 15px;
	overflow: hidden;
	text-transform: uppercasel;
	color: #14a2e7;
	font-weight: normal;
	margin-bottom: 7px;
}

.event_box .box_content h4 a {
	color: #14a2e7;
}

.box_content .event_status_txt {
	float: right;
	font-weight: 400;
}

.coloraqua {
	color: #08e761;
}

.colorred {
	color: #ff3b36;
}

.event_box .box_content p {
	font-size: 11px;
	line-height: normal;
	margin-bottom: 12px;
}

.event_box .date_box {
	float: left;
	vertical-align: top;
	width: 48%;
	color: #fff;
	text-align: center;
	padding: 7px 10px;
	margin-right: 4%;
}

.event_box .date_box.last_element {
	margin-right: 0%;
	float: right;
}

.event_box .date_box .date_event {
	font-size: 16px;
	font-weight: 300;
	padding: 5px;
	display: block;
	text-align: center;
}

.bg_aqua {
	background-color: #7ceaaa;
}

.bg_blue {
	background-color: #70c4ed;
}

.bg_red {
	background-color: #ff5c5c;
}

.closed_grp_txt {
	float: right;
	color: #f2ff26;
	width: 75px;
	font-size: 13px;
	padding-top: 6px;
	line-height: normal;
	text-align: right;
	display: none;
}

.closed_group .closed_grp_txt {
	display: block;
}

.closed_group .event_box_head {
	background-color: #000000;
}

.event_box_footer {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 10px 12px;
	text-transform: uppercase;
	clear: both;
	font-family: 'open_sanssemibold';
}

.event_box_footer h3 {
	color: #4a4a4a;
	font-size: 20px;
}

#page-sidebar {
	border-right: 1px solid #ececec;
	word-wrap: break-word;
}

#page-content>.container {
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
}
/*===============  top dropdown css =========*/
#header-nav-right .dropdown>.dropdown-menu.float-right::before {
	left: auto;
	right: 7px;
}

#header-nav-right .dropdown>.dropdown-menu.float-right::after,
	#header-nav-right .dropup>.dropdown-menu.float-right::after {
	left: auto;
	right: 8px;
}

#header-nav-right .dropdown>.dropdown-menu::after {
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: 13px;
	position: absolute;
	top: -6px;
}

#header-nav-right .dropdown-menu {
	border: 0 none;
	font-size: 13px;
	line-height: 1.6em;
	min-width: 150px;
	padding: 5px 0;
	text-transform: none;
}

#header-nav-right .dropdown-menu {
	box-shadow: 0 1px 7px 2px rgba(135, 158, 171, 0.2);
}

.menu-width-350 {
	width: 350px;
}

#header-nav-right .dropdown-menu {
	background: #fff none repeat scroll 0 0;
	border-style: solid;
	border-width: 1px;
	display: none;
	float: left;
	list-style: outside none none;
	margin: 5px 0 0;
	min-width: 210px;
	/* width: 350px; */
	padding : 5px;
	position: absolute;
	text-align: left;
	top: 105%;
	z-index: 1050 !important;
	border: 0;
	padding: 5px;
	/* max-width: 250px; */
}

.popover-title {
	font-weight: 800;
	color: #6b6b6b;
}

.box-md {
	width: 400px;
}

ul.notifications-box {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

ul.notifications-box li {
	clear: both;
	border-bottom: 1px solid #ebebeb;
	line-height: 26px;
	padding: 10px;
	position: relative;
	cursor: pointer;
}

.notifications-box li .icon-notification {
	border-radius: 50px;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 32px;
}

.notifications-box li .notification-text {
	float: left;
	font-size: 11px;
}

.notifications-box li .notification-time {
	color: #a9a9a9;
	float: right;
	font-size: 11px;
	font-style: italic;
	margin: 0 5px 0 10px;
}

.dropdown-menu .scrollable-content {
	position: relative;
}

#notifications-btn .dropdown-menu {
	padding-left: 0;
	padding-right: 0;
}

.bg-blue {
	border-color: #54c3f2;
	background-color: #54c3f2;
}

.box-radio {
	width: 340px;
	padding: 10px;
}

.box-radio .radio-inline {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	width: 45%;
}
.box-radio .search-radio-inline {
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
}
/*===============  top dropdown css =========*/
.modal-content {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.modal-header {
	padding: 10px 15px;
}

.modal .modal-title {
	font-size: 24px;
	color: #4f4d4d;
}

.modal-header .close {
	margin-top: 5px;
}

.modal-header .close span {
	display: inline-block;
	border: 2px solid #757575;
	width: 24px;
	height: 24px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	top: 7px;
	line-height: 20px;
}
/*======= INDEX PAGE CSS ========*/
.ph_row {
	margin-left: -12px;
	margin-right: -12px;
}

.ph_col-3 {
	width: 25%;
}

.ph_col_4 {
	width: 33.3333%;
}

.ph_col_5 {
	width: 41.6667%;
}

.ph_col_6 {
	width: 50%;
}

.ph_col_7 {
	width: 58.3333%;
}

.ph_col_8 {
	width: 66.6667%;
}

.ph_col-3, .ph_col_5, .ph_col_4, .ph_col_7, .ph_col_6, .ph_col_8 {
	min-height: 1px;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
	float: left;
}

.pad_all_22 {
	padding: 22px;
}

.white_box_brd {
	background-color: #fff;
	border: 1px solid #dfe8f1;
	border-radius: 2px;
}

.overview_box {
	margin-bottom: 24px;
}

.overview_box .item_data {
	padding: 15px;
	text-align: center;
	min-height: 100px;
	position: relative;
	z-index: 2;
}

.overview_box .item_data h3 {
	font-size: 24px;
	margin: 12px 0 12px;
	font-weight: normal;
}

.overview_box .item_data span {
	font-size: 16px;
	color: #626262;
	display: block;
	font-weight: 300;
}

.overview_box .box_footer {
	padding: 8px 15px;
	color: #fff;
	font-size: 16px;
}

.box_footer .item_icon {
	float: right;
}

.trial_item .table_block {
	display: table;
	width: 100%;
}

.trial_item .table_cell {
	vertical-align: middle;
	margin-top: 30%;
}

.overview_box .box_top {
	position: relative;
	z-index: 1;
}

.overview_box .pos_item {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 35px;
	margin-left: -17px;
	height: 35px;
	margin-top: -17px;
}

.overview_box .pos_item .glyph-icon {
	font-size: 40px;
	color: #f7f7f7;
	opacity: 0.7;
}

.pending_item .box_footer {
	background-color: #f9c851;
}

.approve_item .box_footer {
	background-color: #06ccb3;
}

.rejected_item .box_footer {
	background-color: #ff5b5b;
}

.trial_item .box_footer {
	background-color: #0095d5;
}

.pending_item h3 {
	color: #424242;
}

.approve_item h3 {
	color: #06ccb3;
}

.rejected_item h3 {
	color: #ff5b5b;
}

.trial_item h3 {
	color: #0095d5;
}

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 5px;
	/* float: left;   this attribute commented for breadcrumb styling          */
	width: 100%;
}

.breadcrumb a {
	color: #424242;
}

.breadcrumb>li+li::before {
	content: "> ";
	color: #424242;
}

.breadcrumb>.active {
	color: #626262;
}

.pad_all_7 {
	padding: 7px;
}

.pad_all_15 {
	padding: 15px;
}

.index_table_block .block_title {
	font-size: 16px;
	font-family: 'open_sanssemibold';
	margin: 0 0 15px;
	border-bottom: 1px solid #dfe8f1;
}

.index_table_block .form-control {
	height: 38px;
}

.circle_chart {
	text-align: center;
	margin-bottom: 24px;
	height: 477px;
}

.circle_chart h2.widget_title {
	font-size: 16px;
	font-family: 'open_sansregular';
	text-align: center;
	margin-bottom: 15px;
}

.circle_chart .big_num {
	color: #3ccab8;
	font-size: 30px;
}

.circle_chart .total_value {
	padding: 20px 0 88px;
}

.circle_chart .total_value h3 {
	font-size: 30px;
	font-family: 'open_sanssemibold';
	margin-top: 10px;
}

.f_value_row {
	overflow: hidden;
}

.f_value_row span {
	display: block;
	padding: 5px 0;
}

.f_value_row .txt_num {
	color: #424242;
}

.bar_charts_section {
	margin-bottom: 24px;
	height: 477px;
}

.bar_charts_section .graph>img {
	margin-top: 40px;
}

.bar_charts_section .widget_title h2 {
	font-size: 16px;
	font-family: 'open_sansregular';
	margin-bottom: 15px;
	float: left;
}

.bar_charts_section .item_list {
	font-family: 'open_sanslight';
	position: relative;
}

.bar_charts_section .item_list:before {
	
}

.bar_charts_section .item_list .item_blue:before, .bar_charts_section .item_list .item_aqua:before
	{
	position: relative;
}

.bar_charts_section .item_list .item_blue:before {
	background-color: #0096d5;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	display: inline-block;
	position: absolute;
	left: -10px;
	top: 0;
}

.bar_charts_section .item_list .item_aqua:before {
	background-color: #06ccb3;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	display: inline-block;
	position: absolute;
	left: -10px;
	top: 0;
}

.height_limit_300 {
	height: 280px;
	overflow: hidden;
}

.ph_pill_tabs {
	clear: both;
	text-align: center;
	width: 400px;
	margin: 0 auto;
}

.nav-pills>li+li {
	margin-left: 5px;
}

.ph_pill_tabs .nav-pills>li>a {
	background-color: #f7f7f7;
	color: #737373;
	font-size: 12px;
}

div.tree-multiselect>div.selections {
	min-width: 280px;
}

.button-pane.pad15A {
	padding: 15px;
}

.m-r-5 {
	margin-right: 5px;
}

.bar_charts_section .tab-pane {
	padding: 0;
}
/*===============  sorting table css =============*/
table.dataTable>tbody>tr>td {
	padding-left: 16px;
}

table.table thead th.sorting::after, table.table thead th.sorting_asc::after,
	table.table thead th.sorting_desc::after {
	top: 15px;
}
/* Loading Spinner */
.spinner {
	margin: 0;
	width: 70px;
	height: 18px;
	margin: -35px 0 0 -9px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.spinner .bounce1 {
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}

.spinner .bounce2 {
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}

.ph_pill_tabs {
	width: 473px;
}

@
-webkit-keyframes bouncedelay { 0%, 80%, 100% {
	-webkit-transform: scale(0.0)
}

40%
{
-webkit-transform
:
 
scale
(1
.0
)

     
}
}
@
keyframes bouncedelay { 0%, 80%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0)
}

40%
{
transform
:
 
scale
(1
.0
);

         
-webkit-transform
:
 
scale
(1
.0
)

     
}
}
.tree_heading {
	font-weight: bold;
	color: #636363
}

.breadcrumb>li {
	display: inline !important;
}

.sup_prf_img {
	width: 150px;
	height: 156px;
}

.form-wizard-2 .inner_circle img {
	margin-top: 25px;
}

.form-wizard-2 .inner_circle {
	line-height: 75px;
	position: relative;
	top: 10px;
	vertical-align: middle;
}

.verification-confirmation-msg {
	color: red;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.marg-left-inperset {
	margin-left: 2%;
}

div.selector span {
	color: #7a7a7a;
}

.first-table-marg {
	margin-top: 55px;
}

.last-table-marg {
	margin-top: 33px;
}

.mega.height-auto {
	max-height: none;
}

.last-invoice.bill-detail.start-monthly p a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	color: #49b5dc !important;
	height: auto;
	line-height: inherit !important;
	padding: 0 !important;
}

.terms_link {
	float: right;
	margin: 5px 0;
	color: #fff;
	text-transform: capitalize;
}

.terms_link:hover {
	text-decoration: underline;
	color: #fff;
}

#tags, #tagres {
	transition: inherit;
}

ul#ui-id-1 .ui-menu-item {
	border-radius: 0 !important;
}

.other_attachemts .btn {
	font-size: 15px;
}

.overscrollInnerBox {
	overflow: auto !important;
}

@media ( max-width :1400px) {
	.testimonial-box-big .testimonial-content p {
		font-size: 20px;
	}
}

ul.tab li a.font-white {
	padding: 10px 25px;
	display: inline-block;
}

ul.tab li a.font-gray {
	color: #636363 !important;
	padding: 10px 25px;
	display: inline-block;
}

.ph_tabel_wrapper>div.dataTables_wrapper {
	overflow: auto;
}

.tableHeaderWithSearch th {
	text-align: center;
}

.tableHeaderWithSearch:first-child>th {
	padding: 10px 10px 5px !important;
	line-height: 1.4 !important;
	border: none !important;
}

.tableHeaderWithSearch:nth-child(2)>th {
	padding: 0px 10px 5px !important;
	line-height: 1 !important;
	border: none !important;
}

.tableHeaderWithSearch>th.sorting:after {
	margin-top: 0 !important;
}

.dataTables_wrapper .dataTables_filter {
	display: none;
}

.closed_grp_txt_mod {
	color: #fff;
	float: right;
	font-size: 10px;
	line-height: normal;
	padding-top: 6px;
	text-align: right;
	width: 75px;
}

.supplist .event_box .event_box_head h4, .buylist .event_box .event_box_head h4
	{
	line-height: 25px;
}

.modal-backdrop.in {
	opacity: 0 !important;
}

[data-trigger="fileinput"] {
	float: left;
}

#searchGlobal .open .dropdown-menu {
	display: block;
}

#searchGlobal .btn.btn-default.dropdown-toggle, #searchGlobal .search-btn button
	{
	background-color: #3dafdf;
	border: 2px none #3dafdf;
	color: #fff;
}

#searchGlobal .dropdown-toggle .caret {
	color: #fff;
}

.align-center {
	text-align: center !important;
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

/*-- editcss 6/3/17--*/
.ph_table {
	display: table;
}

.ph_table.display.table.table-bordered.noarrow.dataTable.no-footer {
	display: table;
}

.ph_table.dataTable {
	border-right: 1px solid #ddd !important;
	border-top: 1px solid #ddd !important;
}

.ph_table.datatable td, .ph_table.dataTable th {
	border-left: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
}

div#myPendingEventList_wrapper {
	float: left;
}

.dataTables_length {
	/* margin: 20px; */
}

#countdown span {
	width: 70px;
}

.tag-line {
	width: 100% !important;
}

.border-bottom {
	float: left;
	width: 100%;
}

ul.s1_question_list.bqcqListsEnvlop {
	float: left;
}

.event-timeline-table tr td span {
	float: left;
	width: 100%;
	word-break: break-word;
}

.bot-set-head.header+* {
	margin-top: 44px;
}

.marg-top-5 {
	margin-top: 5px;
}

.form-tander1 p {
	word-break: break-word;
}

.panel-heading .panel-title.list-pad-0 a {
	padding: 0 !important;
}

.total_all {
	overflow: auto;
}

#approvedRejectForm {
	padding: 0 3%;
}

.Section-title.gray-bg .trans-cap {
	float: left;
}

.resp-wid .content {
	margin-bottom: 20px;
}

.set-h3-main {
	float: left;
	width: 94% !important;
	padding: 0 2%;
	max-width: 100% !important;
}

.set-h3-main .set-h3 h3 {
	text-align: left;
}

#myModal-sureCancle .modal-footer {
	text-align: center;
}

span.float-right.date-set.notification-text {
	width: auto;
}

.notifications-box li .notification-text {
	width: 52%;
}

div#idGlobalSuccess {
	float: left;
	width: 100%;
}

div#idGlobalError {
	float: left;
	width: 100%;
}

div#idGlobalInfo {
	float: left;
	width: 100%;
}

div#idGlobalWarn {
	float: left;
	width: 100%;
}

#tableList1 {
	display: table !important;
}

.tableHeaderWithSearch.padding-set th {
	padding: 12px 25px !important;
}


h4.panel-title.pad0{padding:0 !important;}


.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.dialogBlockLoaded.ui-draggable{    left: 0 !important;

    margin: 0 auto;
    right: 0;}




#prSummaryForm .ph_btn{ margin-top:20px;}

.or-seg{ float:left; }

.appr-div{ width:100%;}


	#editApprovalPopup .open > .dropdown-menu{ min-width: 100px!important;}
	
	.ia-invite-controls-area .dropdown-menu{ min-width: 100px!important;}
	
	#appUsersList .dropdown-menu{ min-width: 100px!important;}
	
	
	.ia-invite-controls-area .dropdown-menu a, #editApprovalPopup .open > .dropdown-menu a{
    line-height: 19px;}
    
    
    .marg-mins {
    margin-left: -15px;
}


.chosen-container .chosen-choices .search-field:only-child,
.chosen-container .chosen-choices .search-field:only-child input {
    width: 100% !important;
}

.chosen-container-multi .chosen-search-input {
	width: 110% !important;
}

.chosen-container .chosen-results li.disabled-result {
    color: #0cb6ff;
}

.tag-line-right h2{
color: #6b6b6b;
    font-size: 17px;
    font-family: 'open_sansregular';
    }

/*-- editcss 6/3/17--*/




/*--media query--*/

@media screen and (max-width:760px){
	
#sb-site .col_50{ width:100%}

 /* #sb-site #header-logo {
    display: block;
} */

#sb-site .Header_overlay{ display:none;}

}

@media screen and (min-width:761px) and (max-width:1024px){
	
	#sb-site .form_header h1 {
    font-size: 28px;
   }
   
   #sb-site .form-group label{ font-size:12px;}
}



/*--media query--*/

label.required:before { 
	content:"*"; 
	color: red;
}